* {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Top Part*/
.nav {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #252422;
    padding-bottom: 1.875em;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0.875em;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    color: white;
}

.text {
    text-align: center;
    font-size: 30px;
}
/*Contents*/
.hero {
    display: flex;
    background-color: #252422;
    justify-content: center;
    padding-top: 8.75%;
    padding-bottom: 8.75%;
    font-size: 1.5em;
    padding-left: 80px;
    padding-right: 80px;
}

.hero ul {
    text-align: center;
}

.hero p, a {
    /*border: 2px solid white;*/
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: #F5F3F4;
    font-size: 30px;
}

/*Footer*/
.footer {
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    background-color: #9DB4C0;
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.footer h6 {
    color: black;
}