* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/*Top Part*/
.nav {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #252422;
    padding-bottom: 1.875em;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0.875em;
    font-size: 2.0em;
    font-family: 'Staatliches', cursive;
    color: white;
}

.text {
    text-align: center;
    font-size: 1.17em;
}
/*Contents*/
.hero {
    display: flex;
    background-color: #252422;
    justify-content: center;
    padding-bottom: 1.875em;
    font-size: 1.5em;
}

.hero ul {
    text-align: center;
}

.hero ul a {
    color: #3FA34D;
}

/*Footer*/
.footer {
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    background-color: #9DB4C0;
    display: flex;
    justify-content: center;
}

.footer h6 {
    color: black;
}